<header id="header">
  <nav class="navbar navbar-default visible-xs">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	  <i class="fa fa-bars"></i>
	</button>

	<a class="navbar-brand" href="index.html"><img src="/assets/odonto_logo.png" alt="Odonto" class="nav-logo" /></a>
      </div>

    </div><!-- /.container-fluid -->
  </nav>

  <div class="top-mast hidden-xs">
    <div class="container">
      <div class="row">

	<div class="col-md-3 hidden-sm">
	  <a href="index.html"><img src="/assets/odonto_logo.png" alt="Odonto" class="logo img-responsive" /></a>
	</div>

	<div class="col-md-9">
	  <div class="pull-right">
	    <div class="social-nav">
	      <a href="http://twitter.com/OpenOdonto" target="_blank"><i class="fa fa-twitter"></i></a>
	    </div>
	  </div>

	  <div class="visible-sm pull-left;">
	    <a href="index.html"><img src="index.html" alt="Odonto" class="logo img-responsive" /></a>
	  </div>

	  <div class="clearfix"></div>
	  <div class="primary-nav sm-center md-right">
	    <ul class="list-inline">
              <!-- <li class="current-menu-item"><a href="index.html">Home</a></li> -->
	    </ul>
	  </div>

	</div>

      </div>
    </div>
  </div>

</header>
