/* Responsive
	Specific styles by media type i.e. tablet, small desktop and desktop */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	.sm-left {
		text-align: left;
	}
	
	.sm-right {
		text-align: right;
	}
	
	.sm-center {
		text-align: center;
	}
	
	#heading {
		border-bottom: 4px solid rgba(149, 149, 149, 0.10);
		padding-top: 40px;
		padding-bottom: 40px;
	}	
	
		h1 {
			font-size: 36px;
		}
		
	#tweet .timeline .inner {
		padding-left: 10px;
	}
	
	.single article .inner,
	.posts > .inner,
	#contact .inner {
		padding-right: 8%;
		border-right: 1px dotted #313131;
	}
	
	/* Switch Columns - For better mobile usability */
	#offer .col1 {
		float: left;
	}
	
	#offer .col2 {
		float: right;
	}
	
		#offer .inner-top {
			padding-right: 0;
			padding-left: 8%;
			border-left: 1px dotted #313131;
			border-right: none;
		}
		
	
	#tweet .profile .inner {
		margin-right: -8%;
	}
		
		#tweet .status {
			border-left: 1px dotted #313131;
		}
	
	.posts .post .image img {
		max-width: 100%;
	}
	
	.posts .post h3 {
		font-size: 24px;
	}
	
	#share h2 {
		margin-top: 0;
	}
	
	#share .icon i {
		font-size: 25px;
		line-height: 120px;
		margin-top: 5px;
	}
	
	#share .cta .btn {
		width: 100%;
		margin-top: 10px;
		min-width: auto;
	}
	
	.entry-content ul {
		margin: 25px 0 40px 25px;
		padding-left: 35px;
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	.md-left {
		text-align: left;
	}
	
	.md-right {
		text-align: right;
	}
	
	.md-center {
		text-align: center;
	}
	
	.videocontent {
		max-width: 90%;
	}
	
	.single article footer aside section .post .inner {
		margin-right: 0;
		
	}
	
	.posts .post h3 {
		font-size: 33px;
	}
	
	#resources.resources-detail .inner {
		background: url('http://openodonto.org/_asset/responsive.css/images/dotted-bg.png') center center repeat-y;
	}
	
	#share .icon {
		background-size: 90px;
	}
	
	#share .icon i {
		font-size: 40px;
	}
	
	#share h2 {
		margin-top: 10px;
		font-size: 24px;
	}

	#share p {
		font-size: 20px;
	}
	
	#share .cta .btn {
		margin-top: 20px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	.videocontent {
		max-width: 80%;
	}
	
	.single article footer aside section .post .inner {
		padding-right: 25px;
		border-right: 1px dotted #313131;
	}
	
	#share .icon i {
		font-size: 50px;
	}
	
	#share h2 {
		margin-top: 20px;
		font-size: 30px;
	}
	
	#share .cta .btn {
		margin-top: 30px;
	}
			
}