<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="intro">
      <div class="container inner">
        <div class="row text-row">
          <div class="featured-image col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-1 xs-center sm-left">
            {% capture strapline %}{% include copy/strapline.md %}{% endcapture %}
            {{ strapline | markdownify }}

	    <a href="who-we-are" class="btn btn-action btn-lg">Find Out More</a>

          </div>
          <div class="col-lg-6">
          </div>
        </div>
      </div>
    </div>



    <section id="offers">
      <div class="container">
	<h2 class="text-center section-title"><span>Learn More</span></h2>
	<div class="row">

	  <div class="col-md-10 col-md-offset-1 offer">
	    <a href="who-we-are"><div class="inner ">
		<div class="icon text-center">
                  <a href="who-we-are">
                    <img src="/assets/icon-odonto-foundation.png" class="img-responsive" />
                  </a>
                </div>
                {% capture section1 %}{% include copy/homepage.section1.md %}{% endcapture %}
                {{ section1 | markdownify }}
	      </div>
	  </div></a>

	  <div class="col-md-10 col-md-offset-1 offer">
	    <a href="guide-to-openodonto"><div class="inner">
		<div class="icon text-center">
                  <a href="guide-to-openodonto">
                    <img src="/assets/icon-odonto-guide.png" class="img-responsive" />
                  </a>
                </div>
                {% capture section2 %}{% include copy/homepage.section2.md %}{% endcapture %}
                {{ section2 | markdownify }}
	      </div>
	  </div></a>

	  <div class="col-md-10 col-md-offset-1 offer">
	    <a href="openodonto-development"><div class="inner">
		<div class="icon text-center">
                  <a href="openodonto-development">
                    <img src="/assets/icon-odonto-development.png" class="img-responsive" />
                  </a>
                </div>
                {% capture section3 %}{% include copy/homepage.section3.md %}{% endcapture %}
                {{ section3 | markdownify }}

	      </div>
	  </div></a>
	</div>
      </div>
    </section> <!-- "Offers" (Learn more) -->

    <section id="sponsors">
      <div class="container text-center">
	<h2 class="text-center section-title"><span>Our supporters</span></h2>
	<div class="inner">

	  <img src="/assets/Apperta_LogoCMYK.jpg" alt="Apperta Logo" class="img-responsive" />

	  <img src="/assets/northumbria-logo.png" alt="Northumbria Uni" class="img-responsive" />

	  <img src="/assets/penninelogo.png" alt="Pennine Trust" class="img-responsive" />

	  <img src="/assets/durhamdarlington.png" alt="County Durham and Darlington NHS FT" class="img-responsive" />

	  <img src="/assets/northumbria_logo_nhs.jpg" alt="Northumbria NHS Trust" class="img-responsive" />

	  <img src="/assets/newcastleuni.png" alt="Newcastle Uni" class="img-responsive" />

	  <img src="/assets/imgLogoNUTH.png" alt="Newcastle Hospital" class="img-responsive" />

	</div>
      </div>
    </section>





    <!-- <main class="page-content" aria-label="Content"> -->
    <!--   <div class="wrapper"> -->




    <!--     <div class="home"> -->

    <!--       <h1 class="page-heading">Posts</h1> -->

    <!--       {{ content }} -->

    <!--       <ul class="post-list"> -->
    <!--         {% for post in site.posts %} -->
    <!--         <li> -->
    <!--           <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

    <!--           <h2> -->
    <!--             <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> -->
    <!--           </h2> -->
    <!--         </li> -->
    <!--         {% endfor %} -->
    <!--       </ul> -->

    <!--       <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

    <!--     </div> -->



    <!--   </div> -->
    <!-- </main> -->

    {% include footer.html %}

  </body>

</html>
